<div class="container">
    <h1 class='title'>Welcome to the <span class="cc-title">{{title}}</span>.</h1>
    <div class="main-options">
      <p>It's {{month}}, {{year}}.<br>
        What do you want to do?</p>
      <ul>
        <li><a href="/random/">Give me a random film</a>.</li>
        <li><a href="/search">Let me select a film</a>.</li>
      </ul>
  </div>

  <img src="images/vintage_projector_crop.jpg" class="landing-img"/>

  <p class="sourcecode">
    <a href="https://github.com/kfrn/century-cineplex">source code</a>
  </p>
</div>
