<p>Welcome to the {{title}}.</p>
<p>It's {{month}}, {{year}}.</p>
<p>What do you want to do?</p>

<ul>
  <li><a href="/film">Give me a random film.</a></li>
  <li><a href="/search">Let me select a film.</a></li>
  <li><a href="/info">Find out more about films released this month.</a></li>
</ul>

<img src="images/ManWithaMovieCamera_GEM.jpg" alt="Man with a Movie Camera - kino eye screenshot" class="kino-eye"/>
