<p>Welcome to the {{title}}</p>
<p>It's {{month}}, {{year}}.</p>
<p>What do you want to do?</p>

<ul>
  <li>Give me a random film.</li>
  <li>Let me select a film.</li>
  <li>Find out more about films released this month.</li>
</ul>
