<div class="container">

  <p class='title'>{{month}}, {{year}} in film ...</p>

  <img src="../images/underconstruction.gif" alt="Cheesy under construction picture" class='construction'/>

  <p>
    <a href="/">home</a>
  </p>

</div>
