<p class='title'>{{month}}, {{year}} in film ...</p>


{{#each database}}
<p>{{this.title}}</p>
{{/each}}

<img src="../images/underconstruction.gif" alt="Cheesy under construction picture" />

<p>
  <a href="/">home</a>
</p>
