<!DOCTYPE html>
<html>
  <head>
    <title>Century Cineplex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans|Flamenco" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    {{{body}}}
    <script src='../index.js' type="text/javascript"></script>
  </body>
</html>
