<!DOCTYPE html>
<html>
  <head>
    <title>Century Cineplex</title>
    <link href="https://fonts.googleapis.com/css?family=Flamenco|Lato" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
