<div class="container">
  <h1 class='title'>This month at the Century Cineplex ...</h1>

  <p>
    Sorry, there were no results for that query!
  </p>

  <p class="footer">
    <a href="/">home</a> | <a href="/search">back to search page</a>
  </p>
</div>
