// * {
//     border: 1px solid red !important;
// }

/* VARIABLES */

$main-font: 'Droid Sans', Helvetica, sans-serif;
$heading-font: 'Flamenco', cursive;
$grey: #c0c0c0;

/* BASICS */

body {
  background-color: black;
  color: $grey;
  font-family: $main-font;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

a {
  color: $grey;
}

a:hover {
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 750px;
}

.title {
  font-family: $heading-font;
  font-size: 2rem;
  margin: 1rem;
  margin-top: 2rem;
}

.cc-title {
  color: white;
  font-size: 2.5rem;
  white-space: nowrap;
}

/* HOMEPAGE */

.main-options {
  margin: 2rem auto;
}

ul {
  clear: left;
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px;
}

.sourcecode {
  font-family: $heading-font;
  font-size: 1.3rem;
}

/* MOBILE-FIRST STYLING */

.landing-img, .film-poster, .noposter, .construction {
  max-width: 100%;
}

/* FOOTER */

.footer {
  /* The below works, but the text is overlaid on other material if page is long enough. Therefore, class only used on short pages. */
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -(0.5 * 100vw);
  width: 100vw;
  height: 2rem;
}

/* SEARCH PAGE */

form {
  padding: 1px 0 10px 0;
}

.label {
  padding-right: 0.5rem;
}

select {
  border-radius: 5px;
  font-size: 0.8rem;
}

.search-img {
  margin-top: 1.5rem;
  max-height: 200px;
}

/* SHARED FOR SEARCH & FILM RESULT PAGES */

button {
  background-color: white;
  border-radius: 5px;
  border-width: 0;
  color: black;
  margin: 7px;
  padding: 9px;
}

.feature-word {
  color: white;
  font-weight: bold;
}

.howabout {
  margin: 1.5rem 2rem;
}

.film-parameter {
  color: white;
}

/* SHARED FOR SEARCH & RANDOM FILM PAGE */

.noposter {
  margin-bottom: 1rem;
  max-width: 70%;
}

table {
  font-size: 0.8rem;
  text-align: left;
  margin: 1rem auto;
}

td {
  padding: 0.25rem;
  // margin: 0.5rem;
}

/* FILM RESULTS PAGE */

.resultlist {
  list-style-position: inside;
  // margin: 1.5rem;
  padding: 1.5rem;
}

ol > li {
  margin-bottom: 1.5rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  table {
    max-width: 500px;
  }
  form {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .search-img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .noposter {
    max-width: 300px;
  }
}
