body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Lato', sans-serif;  /*font: 32px;*/
  /*font-size: 24px;*/
}

a {
  color: #00B7FF;
}

.kino-eye {
  max-width: 400px;
}

.noposter {
  max-width: 400px;
}

.title {
  font-family: 'Flamenco', cursive;
  font-size: 26px;
}


.poster-film-list {
  max-width: 150px;
}
